img {
  max-width: 100%;
  height: auto;
}

body {
  background: #2d2d2d;
}

* {
  box-sizing: border-box;
}

.container {
  background-color: white;
  max-width: 700px;
  margin: 0 auto;
  overflow: auto;
  padding: 20px;
}

@media(min-width: 650px){

.left-column {
  width: 66%;
  float: left;
  overflow: auto;
}

.right-column {
  width: 33%;
  float: left;
  overflow: auto;
  padding-left: 20px;
}
}
